<!-- Footer -->

<footer class="bg-primary text-white text-center text-lg-start"
  *ngIf="!(user.isAdmin())">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4
    border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-shipping-fast"></i>&nbsp;My mobile store
          </h6>
          <p>
            Online Mobile Store website created using Angular and bootstrap
            technologies.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Tech Stacks used:
          </h6>
          <p>Angular</p>
          <p>HTML</p>
          <p>CSS</p>
          <p>Bootstrap</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="./products" class="text-reset">All products</a>
          </p>
          <p>
            <a href="./products" class="text-reset">Shop Now</a>
          </p>
          <p>
            <a href="./orderList" class="text-reset">Orders</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact/Help
          </h6>
          <p><i class="fas fa-home me-3"></i> Gandhinagar,India</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            myonlinemobilestore@gandhinagar.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 9988998899</p>
          <p><i class="fas fa-print me-3"></i> +91 1134567890</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

</footer>

<footer class="admin-footer bg-primary " *ngIf="user.isAdmin()">
  <p>&copy; 2023 Admin Dashboard</p>
</footer>
