
<app-carousel></app-carousel>
<div class="container mt-5">

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel panel-dark panel-colorful">
        <div class="panel-body text-center"(click)="gotoCategory()">
          <p class="text-uppercase mar-btm text-sm">Categories</p>
          <i class='far fa-address-book fa-5x'></i>
          <hr>
          <p class="h2 text-thin">Categories</p>
          <small><span class="text-semibold"> {{categories.length}}</span></small>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" (click)="gotoGetAllCustomer()">
      <div class="panel panel-danger panel-colorful">
        <div class="panel-body text-center">
          <p class="text-uppercase mar-btm text-sm">Customers</p>
          <i class="fa fa-users fa-5x"></i>
          <hr>
          <p class="h2 text-thin">Customers</p>
          <small><span class="text-semibold">{{customers.length}}</span></small>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12"(click)="gotoOrder()">
      <div class="panel panel-info panel-colorful">
        <div class="panel-body text-center">
          <p class="text-uppercase mar-btm text-sm">Orders</p>
          <i class="fa fa-shopping-cart fa-5x"></i>

          <hr>
          <p class="h2 text-thin">Orders</p>
          <small><span class="text-semibold">{{ordersList.length}}</span></small>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" (click)="gotoPayment()">
      <div class="panel panel-primary panel-colorful">
        <div class="panel-body text-center">
          <p class="text-uppercase mar-btm text-sm">Payments</p>
          <i class="fa fa-dollar fa-5x"></i>
          <hr>
          <p class="h2 text-thin">All Payments</p>
          <small><span class="text-semibold">{{ordersList.length}}</span></small>
        </div>
      </div>
    </div>

  </div>
