<div id="carouselExampleInterval" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="https://www.reliancedigital.in/medias/OnePlus-11R-5G-CLP-Banner-28-02-2023.jpg?context=bWFzdGVyfGltYWdlc3w2NjUyNXxpbWFnZS9qcGVnfGltYWdlcy9oNzYvaGZlLzk5NjY0NjI0MzUzNTguanBnfDAyYTEwYTEzNDY0YTUwZmFmNWM1YmZlMGY2YmMwMTBkNjc4M2YyZTdmNWFkYzZjMzg0MTJlMzZlZGE3OGM0MTU" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="https://www.reliancedigital.in/medias/Realme-Smartphones-CLP-Banner-05-01-2023.jpg?context=bWFzdGVyfGltYWdlc3w4MjM5NHxpbWFnZS9qcGVnfGltYWdlcy9oMjkvaGNhLzk5NDUxMDY4MDg4NjIuanBnfDI3ZDI3NmRlYzE1YzU2NmM5N2EwMWM5OWE4MDliNTlhMDE3ZDgwMzk0NjJhY2ZkNjMzMDFlNjNiNDM4ZTUyMGQ" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item"data-bs-interval="4000">
      <img src="https://www.reliancedigital.in/medias/Oppo-A78-5G-CLP-Banner-19-01-2023.jpg?context=bWFzdGVyfGltYWdlc3w2ODcwMXxpbWFnZS9qcGVnfGltYWdlcy9oZTgvaGRlLzk5NTA0Nzc1ODIzNjYuanBnfGZlN2ExZmE3YmZjYWQ1ODRjODI0ZDRkYjE4ODljZmU0OTQxMTk1ZTY5Y2MzOTQ0ZGMzY2IxNTYyNjRmMmM1NmI " class="d-block w-100" alt="...">
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" ></span>

  </button> -->
</div>
